# KNN تشخیص اعداد یک رقمی و دو رقمی با

In [1]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
X_train = pd.DataFrame( [ [2], [8], [5], [9], [11], [18], [14], [13], [15], [16] ] )
y_train = pd.Series( [1, 1, 1, 1, 2, 2, 2, 2, 2 ,2])

In [ ]:
Classifier = KNeighborsClassifier(n_neighbors = 3)
Classifier.fit(X_train, y_train)

In [ ]:
X_test = pd.DataFrame( [ [1], [3], [7], [17], [12] ])
y_test = pd.Series( [1, 1, 1, 2, 2])

In [ ]:
Classifier.score(X_test, y_test)

In [ ]:
Classifier.predict( [[6]] )

In [ ]:
Classifier.predict_proba( [[20]] )

In [ ]:
for i in range(30):
    Result = Classifier.predict( [[i]] )
    print (f"number {i} : {Result}")

# KNN بررسی وضعیت بدنی افراد با

In [2]:
X_train = pd.DataFrame( [ [166, 68], [170, 74], [164, 88], [172, 90], [178, 75], [172, 60], [180, 65], [174, 80], [168, 85], [181, 72] ] )
y_train = pd.Series( [1, 1, 2, 2, 1, 0, 0, 1, 2, 0])

In [3]:
Classifier = KNeighborsClassifier(n_neighbors = 3)
Classifier.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=3)

In [4]:
X_test = pd.DataFrame( [ [178, 64], [182, 60], [168, 90], [170, 70], [180, 86], [174, 94], [180, 65] ])
y_test = pd.Series( [0, 0, 2, 1, 1, 2, 0])

In [5]:
Classifier.score(X_test, y_test)

1.0

In [6]:
Classifier.predict( [[180, 80]] )

array([1], dtype=int64)

In [7]:
Classifier.predict_proba([[180, 80]])

array([[0.33333333, 0.66666667, 0.        ]])

# KNN تشخیص بیماری دیابت با

In [ ]:
df = pd.read_csv('E:\dataset\Diabetes.csv')
df.shape

In [ ]:
df.head()

In [ ]:
X = df.iloc[:,0:8]
X

In [ ]:
y = df.iloc[:,8]
y

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
print(f"X_train : {X_train.shape}")
print(f"X_test : {X_test.shape}")
print(f"y_train : {y_train.shape}")
print(f"y_test : {y_test.shape}")

In [ ]:
Classifier = KNeighborsClassifier(n_neighbors =19)
Classifier.fit(X_train, y_train)

In [ ]:
Classifier.score(X_test, y_test)

In [ ]:
Classifier.predict([[6, 100, 80, 33, 0, 35, 1.2, 30]])

In [ ]:
Classifier.predict_proba([[6, 100, 80, 33, 0, 35, 1.2, 30]])

In [ ]:
for i in range(1, 100):
    Classifier = KNeighborsClassifier(n_neighbors = i)
    Classifier.fit(X_train, y_train)
    Result = Classifier.score(X_test, y_test)
    print(f"n_neighbors : {i} , Score : {Result}")

# KNN تشخیص بیماری فیبروز کبدی با

In [ ]:
df = pd.read_csv('E:\dataset\hcv-2020.csv')
df.shape

In [ ]:
df.head()

In [ ]:
df.isna().sum()

In [ ]:
df.fillna(df.mean(), inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
X = df.iloc[:, 0:12].astype(float)
y = df.iloc[:, 12]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [ ]:
print(f"X_train : {X_train.shape}")
print(f"X_test : {X_test.shape}")
print(f"y_train : {y_train.shape}")
print(f"y_test : {y_test.shape}")

In [ ]:
Classifier = KNeighborsClassifier(n_neighbors = 3)
Classifier.fit(X_train, y_train)

In [ ]:
Classifier.score(X_test, y_test)

In [ ]:
for i in range(1, 100):
    Classifier = KNeighborsClassifier(n_neighbors = i)
    Classifier.fit(X_train, y_train)
    Result = Classifier.score(X_test, y_test)
    print(f"n_neighbors : {i} , Score : {Result}")

In [ ]:
Classifier.predict( [[30, 0, 40, 62, 26, 50, 8.5, 9.5, 4.2, 83, 17, 50]] )

In [ ]:
Classifier.predict_proba( [[30, 0, 40, 62, 26, 50, 8.5, 9.5, 4.2, 83, 17, 50]] )

# KNN تشخیص بیماری سکته با

In [2]:
df = pd.read_csv('E:\dataset\healthcare-dataset-stroke-data.csv')
df.shape

(5110, 12)

In [3]:
df.head()

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,Male,67.0,0,1,Yes,Private,Urban,228.69,36.6,formerly smoked,1
1,51676,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,NaN,never smoked,1
2,31112,Male,80.0,0,1,Yes,Private,Rural,105.92,32.5,never smoked,1
3,60182,Female,49.0,0,0,Yes,Private,Urban,171.23,34.4,smokes,1
4,1665,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.0,never smoked,1

In [4]:
df.isna().sum()

id                     0
gender                 0
age                    0
hypertension           0
heart_disease          0
ever_married           0
work_type              0
Residence_type         0
avg_glucose_level      0
bmi                  201
smoking_status         0
stroke                 0
dtype: int64

In [5]:
df.fillna(df.mean(), inplace=True)

In [6]:
df.isna().sum()

id                   0
gender               0
age                  0
hypertension         0
heart_disease        0
ever_married         0
work_type            0
Residence_type       0
avg_glucose_level    0
bmi                  0
smoking_status       0
stroke               0
dtype: int64

In [7]:
df = df.drop(['id'], axis=1)
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked,1
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked,1
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked,1
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes,1
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked,1
...,...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked,0
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked,0
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked,0
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked,0
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown,0

In [8]:
X = df.iloc[:, 0:10]
y = df.iloc[:, 10]

In [9]:
X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,Male,67.0,0,1,Yes,Private,Urban,228.69,36.600000,formerly smoked
1,Female,61.0,0,0,Yes,Self-employed,Rural,202.21,28.893237,never smoked
2,Male,80.0,0,1,Yes,Private,Rural,105.92,32.500000,never smoked
3,Female,49.0,0,0,Yes,Private,Urban,171.23,34.400000,smokes
4,Female,79.0,1,0,Yes,Self-employed,Rural,174.12,24.000000,never smoked
...,...,...,...,...,...,...,...,...,...,...
5105,Female,80.0,1,0,Yes,Private,Urban,83.75,28.893237,never smoked
5106,Female,81.0,0,0,Yes,Self-employed,Urban,125.20,40.000000,never smoked
5107,Female,35.0,0,0,Yes,Self-employed,Rural,82.99,30.600000,never smoked
5108,Male,51.0,0,0,Yes,Private,Rural,166.29,25.600000,formerly smoked
5109,Female,44.0,0,0,Yes,Govt_job,Urban,85.28,26.200000,Unknown

In [10]:
y

0       1
1       1
2       1
3       1
4       1
       ..
5105    0
5106    0
5107    0
5108    0
5109    0
Name: stroke, Length: 5110, dtype: int64

In [11]:
#####################################################################################

In [12]:
y.value_counts()

0    4861
1     249
Name: stroke, dtype: int64

In [13]:
X['gender'].value_counts()

Female    2994
Male      2115
Other        1
Name: gender, dtype: int64

In [14]:
X['hypertension'].value_counts()

0    4612
1     498
Name: hypertension, dtype: int64

In [15]:
X['heart_disease'].value_counts()

0    4834
1     276
Name: heart_disease, dtype: int64

In [16]:
X['ever_married'].value_counts()

Yes    3353
No     1757
Name: ever_married, dtype: int64

In [17]:
X['work_type'].value_counts()

Private          2925
Self-employed     819
children          687
Govt_job          657
Never_worked       22
Name: work_type, dtype: int64

In [18]:
X['Residence_type'].value_counts()

Urban    2596
Rural    2514
Name: Residence_type, dtype: int64

In [19]:
X['avg_glucose_level'].value_counts()

93.88     6
72.49     5
84.10     5
91.68     5
83.16     5
         ..
95.02     1
120.09    1
197.58    1
99.91     1
60.50     1
Name: avg_glucose_level, Length: 3979, dtype: int64

In [20]:
X['bmi'].value_counts()

28.893237    201
28.700000     41
28.400000     38
26.700000     37
26.100000     37
            ...
48.000000      1
49.400000      1
47.400000      1
46.600000      1
54.000000      1
Name: bmi, Length: 419, dtype: int64

In [21]:
X['smoking_status'].value_counts()

never smoked       1892
Unknown            1544
formerly smoked     885
smokes              789
Name: smoking_status, dtype: int64

In [22]:
#####################################################################################

In [23]:
X['gender'] = X['gender'].replace('Female', 1)
X['gender'] = X['gender'].replace('Male' , 2)
X['gender'] = X['gender'].replace('Other' , 3)

In [24]:
X['ever_married'] = X['ever_married'].replace('Yes', 1)
X['ever_married'] = X['ever_married'].replace('No', 0)

In [25]:
X['work_type'] = X['work_type'].replace('Private', 1)
X['work_type'] = X['work_type'].replace('Self-employed', 2)
X['work_type'] = X['work_type'].replace('children', 3)
X['work_type'] = X['work_type'].replace('Govt_job', 4)
X['work_type'] = X['work_type'].replace('Never_worked', 5)

In [26]:
X['Residence_type'] = X['Residence_type'].replace('Urban', 1)
X['Residence_type'] = X['Residence_type'].replace('Rural', 2)

In [27]:
X['smoking_status'] = X['smoking_status'].replace('never smoked', 1)
X['smoking_status'] = X['smoking_status'].replace('Unknown', 2)
X['smoking_status'] = X['smoking_status'].replace('formerly smoked', 3)
X['smoking_status'] = X['smoking_status'].replace('smokes', 4)

In [28]:
X

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,2,67.0,0,1,1,1,1,228.69,36.600000,3
1,1,61.0,0,0,1,2,2,202.21,28.893237,1
2,2,80.0,0,1,1,1,2,105.92,32.500000,1
3,1,49.0,0,0,1,1,1,171.23,34.400000,4
4,1,79.0,1,0,1,2,2,174.12,24.000000,1
...,...,...,...,...,...,...,...,...,...,...
5105,1,80.0,1,0,1,1,1,83.75,28.893237,1
5106,1,81.0,0,0,1,2,1,125.20,40.000000,1
5107,1,35.0,0,0,1,2,2,82.99,30.600000,1
5108,2,51.0,0,0,1,1,2,166.29,25.600000,3
5109,1,44.0,0,0,1,4,1,85.28,26.200000,2

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [30]:
print(f"X_train : {X_train.shape}")
print(f"X_test : {X_test.shape}")
print(f"y_train : {y_train.shape}")
print(f"y_test : {y_test.shape}")

X_train : (3832, 10)
X_test : (1278, 10)
y_train : (3832,)
y_test : (1278,)

In [31]:
Classifier = KNeighborsClassifier(n_neighbors = 5)
Classifier.fit(X_train, y_train)

KNeighborsClassifier()

In [32]:
Classifier.score(X_test, y_test)

0.9444444444444444

In [ ]:
for i in range(1, 100):
    Classifier = KNeighborsClassifier(n_neighbors = i)
    Classifier.fit(X_train, y_train)
    Result = Classifier.score(X_test, y_test)
    print(f"n_neighbors : {i} , Score : {Result}")

In [ ]:
Classifier.predict( [[1, 40, 0, 1, 1, 2, 1, 80, 28.52, 1]] )

In [ ]:
Classifier.predict_proba( [[1, 40, 0, 1, 1, 2, 1, 80, 28.52, 1]] )